:root{
    --gris: #434343;
    --orange: #F89B31;
}

@font-face {
    font-family: "Rale";
    src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: "RaleB";
    src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}

/* header */

/* navbar */

#btn-burger{
    display: none;
}

#nav-bar{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

#menu{
    display: flex;
}

#menu li{
    list-style: none;
    margin: 1rem 3vw;
}

#menu li a{
    text-decoration: none;
    font-family: 'Rale', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#menu li a:hover{
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
}

#btn-boutique {
    position: absolute;
    top: 31px;
    right: 8vw;
}

#btn-boutique a{
    padding: 14px 24px;
    color: white;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-decoration: none;
    font-family: 'RaleB', Tahoma, Geneva, Verdana, sans-serif;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

#btn-boutique a:visited{
    text-decoration: none;
    color: white;
}

#btn-boutique a:hover{
    color: var(--orange);
    background-color: white;
    
}

@media (max-width: 992px){
    #btn-boutique{
        right: 3vw;
    }

    #btn-boutique a{
        padding: 7px 12px;
    }
}

@media (max-width: 768px){
    
    #btn-burger{
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 3;
        background: url(../img/icon_burger.svg);
    }

    #btn-burger.is-closed{
        background: url(../img/icon_burger.svg);
    }

    #btn-burger.is-opened{
        background: url(../img/icon_croix.svg);
    }

    #menu{
        margin-left: 50px;
    }

    #menu li{
        margin: 50px 0;
    }

    #menu li a{
        font-size: 2rem;
    }

    #nav-bar{
        display: block;
        transition: transform 0.8s ease-in-out;
        transform: translateY(-120%);
        -webkit-transform: translateY(-120%);
        -moz-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
        -o-transform: translateY(-120%);
        -webkit-transition: transform 0.8s ease-in-out;
        -moz-transition: transform 0.8s ease-in-out;
        -ms-transition: transform 0.8s ease-in-out;
        -o-transition: transform 0.8s ease-in-out;
    }

    #nav-bar.isOpen{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    
    #menu{
        display: block;
    }
    
    #btn-boutique{
        top: 228px;
        right: 5vw;
    }
    
}

@media (max-width: 576px){
    #nav-bar{
        height: 367px;
    }

    #btn-boutique{
        top: 300px;
        left: 90px;
    }
}

@media (max-width: 338px){
    #nav-bar{
        height: 388px;
    }

    #btn-boutique{
        top: 330px;
    }
}

@media (max-width: 287px){
    #nav-bar{
        height: 428px;
    }

    #btn-boutique{
        top: 369px;
    }
}

/* #bg-header{
    background: url(../img/illustration_home_onlinebio.jpg);
    width: 100vw;
    height: 90vh;
    background-size: cover;
} */

#img-header{
    position: absolute;
    width: 100vw;
    bottom: 10vh;
}
    
