:root {
  --gris: #434343;
  --orange: #f89b31;
  --black: #181617;
}

@font-face {
  font-family: "Rale";
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
  font-family: "RaleB";
  src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}

body {
  font-family: "Rale", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

/* header */

/* navbar */

#btn-burger {
  display: none;
}

#nav-bar {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

#menu {
  display: flex;
}

#menu li {
  list-style: none;
  margin: 1rem 3vw;
}

#menu li a {
  text-decoration: none;
  font-family: "Rale", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
}

#menu li a:hover {
  color: var(--orange);
  border-bottom: 2px solid var(--orange);
}

#btn-boutique {
  position: fixed;
  top: 31px;
  right: 8vw;
  z-index: 4;
}

#btn-boutique a {
  padding: 14px 24px;
  color: white;
  background-color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-decoration: none;
  font-family: "RaleB", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

#btn-boutique a:visited {
  text-decoration: none;
  color: white;
}

#btn-boutique a:hover {
  color: var(--orange);
  background-color: white;
}

@media (max-width: 992px) {
  #btn-boutique {
    right: 3vw;
  }

  #btn-boutique a {
    padding: 7px 12px;
  }
}

@media (max-width: 768px) {
  #btn-burger {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 4;
    background: url(../img/icon_burger.svg);
  }

  #btn-burger.is-closed {
    background: url(../img/icon_burger.svg);
  }

  #btn-burger.is-opened {
    background: url(../img/icon_croix.svg);
  }

  #menu {
    margin-left: 50px;
  }

  #menu li {
    margin: 50px 0;
  }

  #menu li a {
    font-size: 2rem;
  }

  #nav-bar {
    display: block;
    transition: transform 0.8s ease-in-out;
    transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    -webkit-transition: transform 0.8s ease-in-out;
    -moz-transition: transform 0.8s ease-in-out;
    -ms-transition: transform 0.8s ease-in-out;
    -o-transition: transform 0.8s ease-in-out;
  }

  #nav-bar.isOpen {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  #menu {
    display: block;
  }

  #btn-boutique {
    top: 30px;
    right: 5vw;
  }
}

@media (max-width: 576px) {
  #nav-bar {
    height: 315px;
  }

  #btn-boutique {
    z-index: 2;
  }
}

@media (max-width: 338px) {
  #nav-bar {
    height: 388px;
  }
}

@media (max-width: 287px) {
  #nav-bar {
    height: 428px;
  }
}

/* contenu header */
.bg-header {
    width: 100%;
    height: 90vh;
    background-image: url(../img/illustration_home_onlinebio.jpg);
    background-size: cover;
    background-position: center;
}

.bg-h-recettes {
  background-image: url(../img/illustration_recette.svg);
  background-size: cover;
  background-position: center;
}

.bg-h-rec-quiche{
    background-image: url(../img/illustration-recettequiche-V2.jpg);
    background-size: cover;
    background-position: center;
}

.bg-h-rec-carpaccio{
    background-image: url(../img/illustration-recettecarpaccio-V2.jpg);
    background-size: cover;
    background-position: center;
}

.bg-h-prods {
  background-image: url(../img/illustration-producteurs.svg);
  background-size: cover;
  background-position: center;
}

#img-header {
  position: absolute;
  top: -26px;
  left: 8rem;
  width: 150px;
  z-index: 2;
}

#cont-header {
  width: 801px;
  position: relative;
  top: 22vh;
  left: 8rem;
  margin: 0;
}

header h1 {
  color: var(--orange);
  font-family: "RaleB", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  margin: 0;
}

header p {
  color: var(--gris);
  font-family: "RaleB", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: 0;
}

@media (max-width: 992px) {
  #img-header {
    left: 4rem;
  }

  #cont-header {
    width: 641px;
    left: 8rem;
  }

  header h1 {
    font-size: 80px;
  }

  header p {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  #img-header {
    position: relative;
    left: 0;
  }

  #div-img-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

    #cont-header {
        left: 4rem;
        width: 500px;
    }

  header h1 {
    font-size: 70px;
  }

  header p {
    font-size: 21px;
  }
}

@media (max-width: 576px) {
  #img-header {
    width: 100px;
    left: -40px;
  }

  #cont-header {
    width: 317px;
    left: 4rem;
  }

  header h1 {
    font-size: 50px;
  }

  header p {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .bg-header {
    height: 60vh;
  }

  #cont-header {
    width: 254px;
    top: 15vw;
    left: 2rem;
  }

  header h1 {
    font-size: 40px;
  }

  header p {
    font-size: 12px;
  }
}

@media (max-width: 338px) {
  #img-header {
    top: -6px;
    width: 70px;
  }

  #cont-header {
    width: 235px;
    left: 2rem;
  }

  header h1 {
    font-size: 30px;
  }

  header p {
    font-size: 9px;
  }
}

/* ******** Home-Sect1 ********** */

#home-sect1 h2 {
    text-align: center;
    padding-top: 2%;
    font-size: 3.5rem;
}
#home-sect1 h3 {
    padding: 20px 0;
    font-size: 2rem;
    color: var(--orange);
    text-align: center;
}
.grid-picto h4 {
    font-size: 1.8rem;
    color: var(--orange);
    padding: 0;
    margin: 0;
}
.grid-picto p {
    font-weight: bold;
    text-align: start;
    font-size: 1.2rem;
    color:black;
    padding: 0;
    margin: 0;
}
#agribio p{
    text-align: center;
    margin-left: 5%;
}
#home-sect1 .picto-agri {
    display: flex;
}
#home-sect1 .grid-picto{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 150px;
    margin: 0 23% 3% 20%;
}
.picto-bio1 {
    grid-column: 1;
    grid-row: 1;
}
.picto-bio2 {
    grid-column: 1;
    grid-row: 2;
}
.picto-bio3 {
    grid-column: 1;
    grid-row: 3;
}
.picto-bio4 {
    grid-column: 1;
    grid-row: 4;
}
.leg-bio1 {
    grid-column: 2;
    grid-row: 1;
}
.leg-bio2 {
    grid-column: 2;
    grid-row: 2;
}
.leg-bio3 {
    grid-column: 2;
    grid-row: 3;
}
.leg-bio4 {
    grid-column: 2;
    grid-row: 4;
}
#agribio{
    grid-column: 4;
    grid-row: 2;
}
#home-sect1 .tete {
    border: 1px solid var(--orange);
    width: 76%;
    height: 20vh;
    border-radius: 24px;
    margin: 3% 12% 20px 12%;
    display: flex;
    align-items: center;
}
#home-sect1 .tete img {
    padding-left: 5%;
}
#home-sect1 .tete p {
    color: var(--gris);
    font-size: 2rem;
}
#home-sect1 {
    width: 100%;
    height: auto;
}
#home-sect1 img {
    width: 120px;
    padding-right:10px ;
}
#agribio img {
    width: 750px;
}

@media screen and (max-width : 1440px) {
   #home-sect1 h2 {
        font-size: 3em;
    }
    #home-sect1 .grid-picto{
        margin: 0 6% 0 12%;
    }
}
@media screen and (max-width : 1200px) {
    #home-sect1 h2 {
         font-size: 2.7em;
         padding: 0 5%;
     }
     #home-sect1 .grid-picto{
         margin: 0 10% 0 12%;
     }
     #agribio img {
         width: 700px;
     }
 }
 @media screen and (max-width : 1200px) {
    #home-sect1 h2 {
         font-size: 2.7em;
         padding: 3% 5% 0 5%;
     }
     #home-sect1 .grid-picto{
         margin: 0 10% 0 12%;
     }
     #agribio img {
         width: 600px;
     }
     #home-sect1 .tete p{
        font-size: 1.8rem;
    }
 }
 @media screen and (max-width : 1024px) {
     #home-sect1 .grid-picto{
         margin: 0 10% 0 9%;
     }
     #agribio img {
         width: 500px;
     }
     #agribio p {
         margin-right: 20%;
     }
     #home-sect1 .tete p{
         font-size: 1.7rem;
     }
 }
 @media screen and (max-width : 850px) {
    #home-sect1 h2 {
         font-size: 2.7em;
         padding: 3% 5% 0 5%;
     }
     #home-sect1 .grid-picto{
         margin: 0 5% 0 1%;
     }
     #agribio img {
         padding-top: 5%;
         width: 480px;
     }
     #home-sect1 .tete p{
        font-size: 1.6rem;
    }
 }
 @media screen and (max-width : 768px) {
    #home-sect1 .grid-picto{
        margin: 0 9% 0 14%;
        grid-auto-rows: auto;
    }
    .picto-bio1 {
        grid-column: 1;
        grid-row: 1;
    }
    .picto-bio2 {
        grid-column: 3;
        grid-row: 1;
    }
    .picto-bio3 {
        grid-column: 1;
        grid-row: 2;
    }
    .picto-bio4 {
        grid-column: 3;
        grid-row: 2;
    }
    .leg-bio1 {
        grid-column: 2;
        grid-row: 1;
    }
    .leg-bio2 {
        grid-column: 4;
        grid-row: 1;
    }
    .leg-bio3 {
        grid-column: 2;
        grid-row: 2;
    }
    .leg-bio4 {
        grid-column: 4;
        grid-row: 2;
    }
    #agribio{
        grid-column: 1/4;
        grid-row: 3;
    }
    #agribio p {
        margin: 0 0 3% 10%;
    }
    #home-sect1 .tete p{
        font-size: 1.5rem;
    }
    #home-sect1 .tete img{
        width: 100px;
        padding-left: 2%;
    }
 }
 @media screen and (max-width : 650px) {
    #home-sect1 .grid-picto{
        margin: 0 3% 0 3%;
        grid-auto-rows: auto;
    } 
    #home-sect1 h2 {
        font-size: 2.3em;
    }
    #agribio img {
        padding-left: 20%;
         width: 400px;
     }
     #home-sect1 .tete {
        height: 30vh;
    }
    #agribio p {
        margin: 0 0 3% 34%;
    }
 }
 @media screen and (max-width : 615px) {
    #home-sect1 .grid-picto{
        margin: 0 20% 0 20%;
    } 
    
    .picto-bio1 {
        grid-column: 1;
        grid-row: 1;
    }
    .picto-bio2 {
        grid-column: 1;
        grid-row: 2;
    }
    .picto-bio3 {
        grid-column: 1;
        grid-row: 3;
    }
    .picto-bio4 {
        grid-column: 1;
        grid-row: 4;
    }
    .leg-bio1 {
        grid-column: 2;
        grid-row: 1;
    }
    .leg-bio2 {
        grid-column: 2;
        grid-row: 2;
    }
    .leg-bio3 {
        grid-column: 2;
        grid-row: 3;
    }
    .leg-bio4 {
        grid-column: 2;
        grid-row: 4;
    }
    #agribio{
        grid-column: 1/3;
        grid-row: 5;
    }
    #agribio p {
        margin: 0 0 3% 20%;
    }
    #agribio img {
        padding: 0;
        width: 350px;
     }
 }
 @media screen and (max-width : 500px) {
    #home-sect1 .grid-picto{
        margin: 0 10% 0 15%;
    } 
    #home-sect1 .tete {
        height: 35vh;
    }
 }
 @media screen and (max-width : 425px) {
    #home-sect1 .grid-picto{
        margin: 0 10% 0 10%;
    } 
    #home-sect1 .tete p{
        font-size: 1.2rem;
    }
    #agribio img {
        width: 300px;
     }
 }
 @media screen and (max-width : 375px) {
    #agribio img {
        width: 285px;
     }
     #agribio p {
        margin: 0 0 3% 1%;
    }
 }
 @media screen and (max-width : 340px) {
    #home-sect1 .tete p{
        font-size: 1rem;
    }
    #agribio img {
        width: 250px;
     }
    #agribio2 img {
        width: 250px;
    }
    #agribio p {
        margin: 0 0 3% 1%;
    }
 }

 @media screen and (max-width : 310px) {
    #home-sect1 .tete img{
        width: 85px;
    }
 }

 /* ******** Home-Sect2 ********** */

#home-sect2 h2 {
    text-align: center;
    padding-top: 2%;
    font-size: 3.5rem;
}
#home-sect2 h3 {
    padding: 40px 0;
    font-size: 2rem;
    color: var(--orange);
    text-align: center;
}
.grid-picto2 h4 {
    font-size: 1.4rem;
    color: var(--orange);
    padding: 0;
    margin: 0;
}
.grid-picto2 p {
    font-weight: bold;
    text-align: start;
    font-size: 1.2rem;
    color:black;
    padding: 0;
    margin: 0;
}
#agribio2 p{
    text-align: center;
    margin-left: 15%2
}
#home-sect2 .picto-agri1 {
    display: flex;
}
#home-sect2 .grid-picto2{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 150px;
    margin: 0 23% 3% 20%;
}
.picto-bio11 {
    grid-column: 3;
    grid-row: 1;
}
.picto-bio21 {
    grid-column: 3;
    grid-row: 2;
}
.picto-bio31 {
    grid-column: 3;
    grid-row: 3;
}


.leg-bio11 {
    grid-column: 4;
    grid-row: 1;
}
.leg-bio21 {
    grid-column: 4;
    grid-row: 2;
}
.leg-bio31 {
    grid-column: 4;
    grid-row: 3;
}

#agribio2{
    grid-column: 1;
    grid-row: 2;
}

#home-sect2 {
    background-color:#f89b313d;
    width: 100%;
    height: auto;
}
#home-sect2 img {
    width: 120px;
    padding-right:10px ;
}
#agribio2 img {
    width: 750px;
}

@media screen and (max-width : 1440px) {
   #home-sect2 h2 {
        font-size: 3em;
    }
    #home-sect2 .grid-picto2{
        margin: 0 6% 0 12%;
    }
}
@media screen and (max-width : 1200px) {
    #home-sect2 h2 {
         font-size: 2.7em;
         padding: 0 5%;
     }
     #home-sect2 .grid-picto2{
         margin: 0 10% 0 9%;
     }
     #agribio2 img {
         width: 600px;
     }
 }

 @media screen and (max-width : 1024px) {
     #home-sect2 .grid-picto2{
         margin: 0 10% 0 6%;
     }
     #agribio2 img {
         width: 500px;
     }
     #agribio2 p {
         margin-right: 20%;
     }

 }
 @media screen and (max-width : 850px) {
    #home-sect2 h2 {
         font-size: 2.7em;
         padding: 3% 5% 0 5%;
     }
     #home-sect2 .grid-picto2{
         margin: 0 5% 0 1%;
     }
     #agribio2 img {
         padding-top: 5%;
         width: 470px;
     }
 }
 @media screen and (max-width : 768px) {
    #home-sect2 .grid-picto2{
        margin: 0 9% 0 14%;
        grid-auto-rows: auto;
    }
    .picto-bio11 {
        grid-column: 1;
        grid-row: 1;
    }
    .picto-bio21 {
        grid-column: 3;
        grid-row: 1;
    }
    .picto-bio31 {
        grid-column: 1;
        grid-row: 2;
    }
    .leg-bio11 {
        grid-column: 2;
        grid-row: 1;
    }
    .leg-bio21 {
        grid-column: 4;
        grid-row: 1;
    }
    .leg-bio31 {
        grid-column: 2;
        grid-row: 2;
    }
    
    #agribio2{
        grid-column: 1/4;
        grid-row: 3;
    }
    #agribio2 p {
        margin: 0 0 3% 10%;
    }
 }
 @media screen and (max-width : 650px) {
    #home-sect2 .grid-picto2{
        margin: 0 3% 0 3%;
        grid-auto-rows: auto;
    } 
    #home-sect2 h2 {
        font-size: 2.3em;
    }
    #agribio2 img {
        padding-left: 20%;
         width: 400px;
     }
    #agribio2 p {
        margin: 0 0 3% 34%;
    }
 }
 @media screen and (max-width : 615px) {
    #home-sect2 .grid-picto2{
        margin: 0 20% 0 20%;
    } 
    
    .picto-bio11 {
        grid-column: 1;
        grid-row: 1;
    }
    .picto-bio21 {
        grid-column: 1;
        grid-row: 2;
    }
    .picto-bio31 {
        grid-column: 1;
        grid-row: 3;
    }
    .leg-bio11 {
        grid-column: 2;
        grid-row: 1;
    }
    .leg-bio21 {
        grid-column: 2;
        grid-row: 2;
    }
    .leg-bio31 {
        grid-column: 2;
        grid-row: 3;
    }
    #agribio2{
        grid-column: 1/3;
        grid-row: 5;
    }
    #agribio2 p {
        margin: 0 0 3% 20%;
    }
    #agribio2 img {
        padding: 0;
        width: 350px;
     }
 }
 @media screen and (max-width : 500px) {
    #home-sect2 .grid-picto2{
        margin: 0 10% 0 15%;
    } 
 }
 @media screen and (max-width : 425px) {
    #home-sect2 .grid-picto2{
        margin: 0 10% 0 10%;
    } 
    #agribio2 img {
        width: 300px;
     }
 }
 @media screen and (max-width : 375px) {
    #agribio2 img {
        width: 285px;
     }
}
 @media screen and (max-width : 340px) {
    #agribio2 p {
        margin: 0 0 3% 10%;
    }
 }

/* page nos producteurs */

#h2-prod {
  color: var(--black);
  font-family: "Rale", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin: 3rem 8rem;
}

@media (max-width: 992px) {
  #h2-prod {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #h2-prod {
    margin: 3rem 4rem;
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  #h2-prod {
    font-size: 16px;
  }
}

.cont-cards-prod {
  display: flex;
  margin: 0 8rem 3rem 8rem;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .cont-cards-prod {
    display: none;
  }
}

.cards-prod {
  width: 25vw;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.cards-prod:hover {
  box-shadow: 0 0 17px -2px black;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.cards-prod a {
  text-decoration: none;
}

.cards-prod a img {
  width: 100%;
}

.grayscale {
  filter: grayscale(80%) contrast(20%);
  -webkit-filter: grayscale(80%) contrast(20%);
}

.cards-prod a h2 {
  color: var(--orange);
  font-family: "RaleB", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.cards-prod a p {
  color: var(--black);
  font-size: 30px;
}


/* ************** Section cards ******** */

.section-cards .cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 25px;
}

.section-cards .cards div {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 44px 0 44px;
    background-color: var(--orange);
    height:  auto;
    width: 320px;
    border-radius: 10px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    margin: 40px;
}

.section-cards .cards div a{
    text-decoration: none;
}

.section-cards .cards img {
  height: 200px;
  width: 200px;
  clip-path: circle(50% at 50% 50%);
  margin-top: 20px;
}

.section-cards .cards h5,
.section-cards .cards p {
  padding: 5px 40px;
  color: white;
}

.section-cards p {
    font-size: 1.5rem;
    margin: 0;
}

.section-cards h5 {
  margin: 20px 0 5px 0;
  font-size: 1.7rem;
}

.section-cards .cards div:hover {
    box-shadow: 0 0 17px -2px black;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
} 

@media (max-width: 479px){
    .section-cards .cards div{
        margin: 20px 0;
    }
}


/******** Section Rec-carp et rec-quiche ********* */
.rec-carp .ingre img {
  height: 100px;
}

.rec-carp .ingre div {
  width: 150px;
  text-align: center;
}

.rec-carp .ingre {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin: 0 12% 0 12%;
}

.ingre1 {
  grid-column: 1;
  grid-row: 1;
}

.ingre2 {
  grid-column: 2;
  grid-row: 1;
}

.ingre3 {
  grid-column: 3;
  grid-row: 1;
}

.ingre4 {
  grid-column: 4;
  grid-row: 1;
}

.ingre5 {
  grid-column: 5;
  grid-row: 1;
}

.ingre6 {
  grid-column: 6;
  grid-row: 1;
}

.ingre7 {
  grid-column: 7;
  grid-row: 1;
}

.rec-carp p {
  color: rgb(0, 0, 0);
  padding: 0;
  text-align: center;
  font-size: 20px;
}

.rec-carp h1 {
  color: var(--gris);
  text-align: center;
  font-size: 3.25rem;
}

.rec-carp h2 {
  color: var(--orange);
  font-size: 40px;
  margin-left: 12%;
}

.rec-carp h3 {
  color: var(--gris);
  font-size: 25px;
  margin-left: 12%;
}

.rec-carp h3 img {
  height: 20px;
  padding-right: 5px;
}

.consigne p {
  font-size: 20px;
  text-align: start;
  padding: 0 12% 0 12%;
}

.panier {
  background-color: var(--orange);
  width: 76%;
  height: 330px;
  border-radius: 24px;
  margin: 5% 12% 75px 12%;
  display: flex;
  align-items: center;
}

.panier img {
  height: 200px;
  padding-left: 20%;
}

.panier h2 {
  color: white;
}

#btn-boutique-recette a {
  padding: 14px 24px;
  color: var(--orange);
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-decoration: none;
  font-family: "RaleB", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

#btn-boutique-recette a:visited {
  text-decoration: none;
  color: var(--orange);
}

#btn-boutique-recette a:hover {
  color: white;
  background-color: #f48019;
}

.rec-carp .btq {
  display: block;
  padding: 0 5%;
}

.rec-carp .btq h2 {
  font-size: 3.2rem;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 1524px) {
  .rec-carp .btq h2 {
    font-size: 2.8rem;
  }

  .rec-carp .ingre img {
    height: 90px;
  }

  .rec-carp .ingre {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 12% 0 12%;
  }

  .ingre1 {
    grid-column: 1;
    grid-row: 1;
  }

  .ingre2 {
    grid-column: 2;
    grid-row: 1;
  }

  .ingre3 {
    grid-column: 3;
    grid-row: 1;
  }

  .ingre4 {
    grid-column: 4;
    grid-row: 1;
  }

  .ingre5 {
    grid-column: 1;
    grid-row: 2;
  }

  .ingre6 {
    grid-column: 2;
    grid-row: 2;
  }

  .ingre7 {
    grid-column: 3;
    grid-row: 2;
  }

  .panier img {
    height: 190px;
    padding-left: 18%;
  }
}

@media screen and (max-width: 1100px) {
  .rec-carp .ingre div {
    width: 100px;
  }

  .rec-carp .btq h2 {
    font-size: 2.5rem;
  }

  .panier img {
    height: 170px;
    padding-left: 15%;
  }
}

@media screen and (max-width: 768px) {
  .rec-carp .ingre div {
    width: 100px;
  }

  .rec-carp .btq h2 {
    font-size: 1.8rem;
  }

  .rec-carp .ingre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 12% 0 12%;
    padding-left: 50px;
  }

  .ingre1 {
    grid-column: 1;
    grid-row: 1;
  }

  .ingre2 {
    grid-column: 2;
    grid-row: 1;
  }

  .ingre3 {
    grid-column: 3;
    grid-row: 1;
  }

  .ingre4 {
    grid-column: 1;
    grid-row: 2;
  }

  .ingre5 {
    grid-column: 2;
    grid-row: 2;
  }

  .ingre6 {
    grid-column: 1;
    grid-row: 3;
  }

  .ingre7 {
    grid-column: 2;
    grid-row: 3;
  }

  .panier img {
    height: 150px;
    padding-left: 13%;
  }
}

@media screen and (max-width: 500px) {
  .rec-carp .ingre div {
    width: 90px;
  }


    .rec-carp .btq h2 {
        font-size: 1.5rem;
    }

    .panier img {
        height: 130px;
        padding-left: 10%;
    }
}

@media screen and (max-width : 427px) {
    .rec-carp .ingre div {
        width: 90px;
    }

    .rec-carp .ingre {
        padding: 0;
        margin: 0 20px;
    }

    .rec-carp .btq h2 {
        font-size: 1.5rem;
    }

    .panier img {
        height: 100px;
        padding-left: 10%;
    }
}

@media screen and (max-width : 375px) {
    .rec-carp .ingre div {
        width: 80px;
    }

    .rec-carp .ingre {
        padding: 0;
        margin: 0 15px;
    }

    .rec-carp .btq h2 {
        font-size: 1.2rem;
    }

    .panier img {
        height: 80px;
        padding-left: 10%;
    }

    #btn-boutique-recette a {
        padding: 14px 15px
    }
}


/* ==============Slider Recettes ==============*/
/* ========================================== */
#recipe-slider {
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  max-width: 1100px;
  margin: auto;
}
#recipe-slider h3 {
  font-size: 2rem;
  font-family: RaleB;
  color: var(--gris);
}
.swiper-container {
  width: 85%;
  max-width: 900px;
  height: 320px;
  margin-bottom: 1rem;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 80%;
  padding-top: 10px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.3s;
}
.swiper-slide-next {
  transform: scale(1.1);
}
.swiper-slide p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.recipe-cards-img {
  color: white;
  height: 75%;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.recipe-cards-img.carpaccio {
  background: url("../img/photo-carpaccio.jpg");
  background-size: cover;
  background-position: center;
}

.recipe-cards-img.quiche {
  background: url("../img/photo-quiche.jpg");
  background-size: cover;
  background-position: center;
}

.coming-soon {
  background-color: var(--gris);
}

.link-recipe {
  cursor: pointer;
  color: var(--gris);
  text-decoration: none;
}

.swiper-button-next,
.swiper-button-prev {
  top: 60%;
  color: var(--orange);
}

/* ======== Slider Pagination========= */
/* ============================================= */

.pagination-wrapper {
  font-size: 0;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
}

@keyframes pagination-container--animation-prev {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(18px);
  }
}

@keyframes pagination-container--animation-next {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-18px);
  }
}

.transition-prev .pagination-container {
  animation: pagination-container--animation-prev 0.3s forwards;
}

.transition-next .pagination-container {
  animation: pagination-container--animation-next 0.3s forwards;
}

.little-dot {
  width: 6px;
  height: 6px;
  background-color: #858585;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  position: relative;
  z-index: 10;
}

.little-dot--first,
.little-dot--last {
  z-index: 5;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-18px);
  }
}

.transition-prev .little-dot--first {
  animation: slideLeft 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes little-dot--first--animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.transition-next .little-dot--first {
  animation: little-dot--last--animation 0.3s forwards;
}

@keyframes little-dot--last--animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.transition-prev .little-dot--last {
  animation: little-dot--last--animation 0.3s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(18px);
    opacity: 1;
  }
}

.transition-next .little-dot--last {
  animation: slideRight 0.4s 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.big-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--gris);
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

.transition-next .big-dot {
  right: auto;
  left: -6px;
}

.big-dot-container {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  z-index: 10;
}

.transition-next .big-dot-container {
  right: auto;
  left: 3px;
}

@keyframes big-dot-container--animation-prev {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-50%) rotate(-179deg);
  }
}

@keyframes big-dot-container--animation-next {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-50%) rotate(-181deg);
  }
}

.transition-prev .big-dot-container {
  animation: big-dot-container--animation-prev 0.3s forwards;
}

.transition-next .big-dot-container {
  animation: big-dot-container--animation-next 0.3s forwards;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.6;
}

.btn--next {
  left: calc(100% + 20px);
}

.btn--prev {
  right: calc(100% + 20px);
}

/* ==============Newsletters Section ==============*/
/* ========================================== */

#label-section {
  width: 40%;
  max-width: 500px;
  margin: 2rem auto 4rem;
  display: flex;
  align-items: center;
}

.logo-AB {
  width: 25%;
}
.logo-demeter {
  width: 70%;
}
.logo-bio img {
  width: 100%;
}

/* ==============Newsletters Section ==============*/
/* ========================================== */
.hidden {
  display: none;
}

.newsletters-modal-container {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.newsletters-modal {
  text-align: center;
  background-color: var(--orange);
  color: #fff;
  border-radius: 15px;
  padding: 1rem 2rem;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.newsletters-modal-img {
  width: 60%;
  max-width: 200px;
  margin: auto;
}
.newsletters-modal-img img {
  width: 100%;
}

.newsletters-modal p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: RaleB;
}

.close-modal {
  background-color: #fff;
  color: var(--orange);
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 0.2rem 1.5rem;
  margin-bottom: 1rem;
}

#newsletters-section {
  background-color: var(--orange);
  color: #fff;
  border-radius: 20px;
  width: 80%;
  max-width: 1300px;
  margin: 3rem auto 5rem;
  padding: 2rem 0;
}

.newsletters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.newsletters-img {
  width: 25%;
  max-width: 200px;
}

.newsletters-img img {
  width: 100%;
}

.newsletters-content {
  width: 75%;
  margin-left: 3rem;
}

.newsletters-message {
  font-family: RaleB;
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: 1.5rem;
}

.newsletters-email {
  color: #fff;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  font-weight: 600;
  width: 90%;
  min-width: 280px;
  height: 2rem;
  padding-left: 1rem;
  outline: none;
}

.newsletters-email::placeholder {
  color: #fff;
  font-weight: 400;
}

.newsletters-content form {
  position: relative;
  max-width: 420px;
}
.submit-btn {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  color: var(--orange);
  padding: 0.6rem 2rem;
  position: absolute;
  right: 0;
  top: -2px;
  outline: none;
  transition: all 0.2s;
  cursor: pointer;
}

.submit-btn :hover {
  transform: scale(1.1);
}

.error-message {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 1rem;
}

.fa-exclamation-circle {
  padding-right: 10px;
}

/* Tablet version ================== */
/* ======================================= */

@media (max-width: 54rem) {
  .swiper-container {
    margin-bottom: 0;
  }
  .newsletters-container {
    flex-direction: column;
    width: 100%;
  }

  .newsletters-content {
    margin-left: 0;
    width: 90%;
  }

  .newsletters-content {
    text-align: center;
  }
  .newsletters-content form {
    width: 86%;
    margin: 0 auto;
  }

  .newsletters-email {
    min-width: 100px;
    width: 100%;
  }

  .submit-btn {
    right: -20px;
  }
  .swiper-slide-next {
    transform: scale(1);
  }
  #label-section {
  width: 60%;
  max-width: 300px;}
}

@media (max-width: 31rem) {
  .newsletters-email {
    font-size: 0.8rem;
  }
  
  .newsletters-modal {
    padding: 1rem;
  }
  .newsletters-modal p {
    font-size: 1.4rem;
  }
  .submit-btn{
    padding: 0.6rem 1rem;
    }
    .fa-exclamation-circle{
    padding-right: 5px;
    }
    .error-message{
    font-size: 1rem;
    }
}

@media screen and (max-width : 324px) {
    

    #btn-boutique-recette a {
        padding: 7px 2px
    }
}

/* ************ Effet terre ********** */

.clickTerre {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    transform: scale(0);
    border: 2px dashed rgb(0, 0, 0);
    transform-origin: center;
    animation: clickTerre 0.5s ease-in-out;
}

@keyframes clickTerre {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* *********** Footer  *********** */
footer li {
    list-style: none;
}

footer {
    color: white;
    background-color: var(--black);
    height: auto;
    width: 100%;
    padding-bottom: 10px;
}

footer .contact,
.livraison {
    display: block;
    color: white;
}

footer .livraison {
    width: 219px;
    padding: 0 20px;
}

footer .livraison li {
    line-height: 1.5em;
    padding-top: 10px;
}

footer a:visited {
    text-decoration: none;
}

footer .contact li {
    padding-top: 14px;
}

footer .contact {
    padding-top: 20px;
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

footer p {
    font-size: 15px;
    padding-left: 0;
}

footer img {
    height: 140px;
    width: auto;
}

footer #icon img {
    height: 30px;
    padding-right: 15px;
}

footer #icon {
    display: inline-flex;
    padding: 0;
}

.map img {
    height: 110px;
}

footer a {
    color: white;
}

footer .t1 a, footer .t2 a{
    text-decoration: none;
}

footer .t2 {
    display: none;
}

@media screen and (max-width : 1014px) {
    footer .livraison {
        padding: 0;
        width: auto;
    }
}

@media screen and (max-width : 918px) {
    footer ul, footer li, footer p{
        display: block;
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
    }

    footer .livraison {
        width: auto;
    }

    footer #icon ul {
        display: inline-flex;
        padding: 0;
    }

    footer .t1 {
        display: none;
    }

    footer .t2 {
        display: block;
    }
}

/* anim carotte */

#carotte-cont{
    position: absolute;
    top: 90vh;
    z-index: -10;
    width: 100%;
    height: 85%;
    overflow: hidden;
}

#carotte-cont svg{
    transform: translateX(-3vw);
    -webkit-transform: translateX(-3vw);
    -moz-transform: translateX(-3vw);
    -ms-transform: translateX(-3vw);
    -o-transform: translateX(-3vw);
}

#circle{
    transform: rotate(-90deg);
    offset-path: path('M1139.4,0c0,368.6-404.4,348.1-416.7,850.6s441.2,465.7,428.9,980.4s-478,486.1-441.2,1184.7c36.8,698.6,618,1023.8,482.9,1654.5c-134.8,629.1-534.1,973.9-478,1470.6c59,522.8,420.2,870.1,416.7,1419.2');
    offset-distance: var(--offset);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.st0{fill:#B5E245;}
.st1{fill:#C6E873;}
.st2{fill:#E4936B;}
.st3{fill:#E27D47;}

@media(max-width: 1440px){
    #carotte-cont svg{
        opacity: .35;
        transform: translateX(-16vw);
        -webkit-transform: translateX(-16vw);
        -moz-transform: translateX(-16vw);
        -ms-transform: translateX(-16vw);
        -o-transform: translateX(-16vw);
    }
}

@media(max-width: 1024px){
    #carotte-cont svg{
        transform: translateX(-35vw);
        -webkit-transform: translateX(-35vw);
        -moz-transform: translateX(-35vw);
        -ms-transform: translateX(-35vw);
        -o-transform: translateX(-35vw);
    }
}

@media(max-width: 768px){
    #carotte-cont svg{
        transform: translateX(-88vw);
        -webkit-transform: translateX(-88vw);
        -moz-transform: translateX(-88vw);
        -ms-transform: translateX(-88vw);
        -o-transform: translateX(-88vw);
    }
}

@media(max-width: 425px){
    #carotte-cont svg{
        transform: translateX(-175vw);
        -webkit-transform: translateX(-175vw);
        -moz-transform: translateX(-175vw);
        -ms-transform: translateX(-175vw);
        -o-transform: translateX(-175vw);
    }
}

@media(max-width: 375px){
    #carotte-cont svg{
        transform: translateX(-203vw);
        -webkit-transform: translateX(-203vw);
        -moz-transform: translateX(-203vw);
        -ms-transform: translateX(-203vw);
        -o-transform: translateX(-203vw);
    }
}

@media(max-width: 320px){
    #carotte-cont svg{
        transform: translateX(-250vw);
        -webkit-transform: translateX(-250vw);
        -moz-transform: translateX(-250vw);
        -ms-transform: translateX(-250vw);
        -o-transform: translateX(-250vw);
    }
}

@media(max-width: 280px){
    #carotte-cont svg{
        transform: translateX(-288vw);
        -webkit-transform: translateX(-288vw);
        -moz-transform: translateX(-288vw);
        -ms-transform: translateX(-288vw);
        -o-transform: translateX(-288vw);
    }
}

@media(max-width: 400px){
    #carotte-cont{
        top: 60vh;
    }
}