:root {
  --gris: #434343;
  --gris-clair: #707070;
  --orange: #f89b31;
}

@font-face {
  font-family: "Rale";
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
  font-family: "RaleB";
  src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}

body {
  font-family: Rale;
}

/* Style général pour les sections */
.section-container {
  width: 80%;
  margin: 0 auto;
  max-width: 650px;
}
section:nth-child(2n + 1) {
  font-size: 0.9rem;
  color: var(--gris-clair);
  padding-top: 1rem;
  padding-bottom: 2rem;
  line-height: 1.3;
}

section:nth-child(2n) {
  font-size: 0.9rem;
  background-color: var(--orange);
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  line-height: 1.3;
}

.section-container img {
  width: 100%;
}

.section-box-img {
  /* width: 236px;
    height: 236px; */
  width: 80%;
  max-width: 420px;
  margin: 0 auto;
}

/* Premiere section */
/* ==================== */
.section1-container {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.section1-heading {
  font-family: RaleB;
  text-align: center;
}

.section1-heading h1 {
  font-size: 2rem;
  color: var(--orange);
}
.section1-heading h2 {
  font-size: 1rem;
  color: var(--gris-clair);
  margin-bottom: 2rem;
}

.section1-content p {
  color: var(--gris-clair);
  font-size: 0.9rem;
}

/* Section 2 - Présentation Estelle et Anne */

.section2-content {
  /* line-height: 1.2; */
}

/* Section 3 Mode de production */
.section3 {
  color: var(--gris-clair);
}

.section3 ul {
  padding-left: 1.5rem;
}

.section3 li {
  list-style-type: "- ";
  margin-bottom: 5px;
}

/* Section 5 - Ruche */
.section5-content,
.section6-content {
  margin-bottom: 2rem;
}

.section7 .section-box-img {
  margin-top: 2rem;
}

/* Dernière section - Nos produits */

section:nth-child(2n).section8 {
  padding-bottom: 4rem;
}
.section8-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

.section8-header .order-btn {
  font-family: RaleB;
  color: var(--orange);
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 0.7em 1.5em;
  text-decoration: none;
  transition: all 0.3s;
}

.section8-header .order-btn:hover {
  color: #fff;
  background-color: var(--orange);
}

/* Slider */
.swiper-container {
  margin-top: 2rem;
  width: 90%;
  min-height: 200px;
  height: 50vh;
  max-width: 500px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}
.swiper-slide a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.swiper-slide:nth-child(1) {
  background-image: url("../img/ty-coz/slider/ail.jpg");
}
.swiper-slide:nth-child(2) {
  background-image: url("../img/ty-coz/slider/tomates.jpg");
}

.swiper-slide:nth-child(3) {
  background-image: url("../img/ty-coz/slider/courgettes-jaunes.jpg");
}
.swiper-slide:nth-child(4) {
  background-image: url("../img/ty-coz/slider/navets-bottes.jpg");
}

.swiper-slide:nth-child(5) {
  background-image: url("../img/ty-coz/slider/courgettes-rondes.jpg");
}
.swiper-slide:nth-child(6) {
  background-image: url("../img/ty-coz/slider/patate-douce.jpg");
}
.swiper-slide:nth-child(7) {
  background-image: url("../img/ty-coz/slider/panais.jpg");
}

.swiper-slide:nth-child(8) {
  background-image: url("../img/ty-coz/slider/rhubarbe.jpg");
}
.swiper-slide:nth-child(9) {
  background-image: url("../img/ty-coz/slider/potiron.jpg");
}

.swiper-slide:nth-child(10) {
  background-image: url("../img/ty-coz/slider/pourpier.jpg");
}

[class^="swiper-button"],
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination {
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  background-color: #4e8b07;
  width: 12px;
  height: 12px;
  margin-left: 2px;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 14px;
  height: 14px;
}

.grid-container {
  display: none;
}
@media (min-width: 56rem) {
  .slider-container {
    display: none;
  }
  .grid-container {
    display: block;
    width: 90%;
    height: 800px;
    margin: 2rem auto 0;
    padding: 0.5rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat (12, 1fr);
    max-width: 900px;
    /* overflow: hidden; */
  }

  .grid-item {
    background-size: cover;
    background-position: center;
  }
  /* first column */
  .grid-item:nth-child(1) {
    background-image: url("../img/ty-coz/slider/ail.jpg");
    grid-row: 1/4;
  }
  .grid-item:nth-child(4) {
    background-image: url("../img/ty-coz/slider/potiron.jpg");
    grid-row: 4/8;
  }
  .grid-item:nth-child(7) {
    background-image: url("../img/ty-coz/slider/navets-bottes.jpg");
    grid-row: 8/12;
  }
  /* Second column */
  .grid-item:nth-child(2) {
    background-image: url("../img/ty-coz/slider/rhubarbe.jpg");
    grid-row: 1/5;
  }
  .grid-item:nth-child(5) {
    background-image: url("../img/ty-coz/slider/panais.jpg");
    grid-row: 5/9;
  }
  .grid-item:nth-child(8) {
    background-image: url("../img/ty-coz/slider/courgettes-rondes.jpg");
    grid-row: 9/12;
  }
  /* Third column */
  .grid-item:nth-child(3) {
    background-image: url("../img/ty-coz/slider/patate-douce.jpg");
    grid-row: 1/4;
  }
  .grid-item:nth-child(6) {
    background-image: url("../img/ty-coz/slider/pourpier.jpg");
    grid-row: 4/7;
  }
  .grid-item:nth-child(9) {
    background-image: url("../img/ty-coz/slider/courgettes-jaunes.jpg");
    grid-row: 7/12;
  }
} ;
