:root {
  --gris: #434343;
  --gris-clair: #707070;
  --orange: #f89b31;
}

@font-face {
  font-family: "Rale";
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
  font-family: "RaleB";
  src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}

body {
  font-family: Rale;
}

/* Correction conflits */
@media screen and (max-width: 918px) {
  li,
  p {
    display: block;
    text-align: left;
    padding: 0;
    padding-bottom: 0;
  }
  footer ul li,
  footer p {
    text-align: center;
  }
}

#btn-boutique,
#btn-burger.is-opened {
  z-index: 25;
}
#nav-bar {
  z-index: 20;
}

/* Animation apparition photo */
.section-box-img {
  opacity: 0;

  transition: all 0.8s;
}
.reveal {
  opacity: 1;
}
/* Style général pour les sections */
/* ====================================== */
.section-container {
  width: 80%;
  margin: 0 auto;
  max-width: 41rem;
}
section:nth-child(2n + 1) {
  font-size: 0.9rem;
  color: var(--gris-clair);
  padding-top: 1rem;
  padding-bottom: 2rem;
  line-height: 1.3;
}

section:nth-child(2n) {
  font-size: 0.9rem;
  background-color: var(--orange);
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  line-height: 1.3;
}

.section-container img {
  width: 100%;
}

.section-box-img {
  width: 80%;
  max-width: 26rem;
  min-width: 16rem;
  margin: 0 auto;
}

.box-img-desktop {
  display: none;
}

/* Premiere section  */
/* ==================== */
.section1-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.section1-heading {
  font-family: RaleB;
  text-align: center;
}

.section1-heading h1 {
  font-size: 2rem;
  color: var(--orange);
}
.section1-heading h2 {
  font-size: 1rem;
  color: var(--gris-clair);
  margin-bottom: 2rem;
}

.section1-content p {
  color: var(--gris-clair);
  font-size: 0.9rem;
}

/* Section 3 Mode de production */
/* ==================================== */

.section3 {
  color: var(--gris-clair);
}

.section3 ul {
  padding-left: 1.5rem;
}

.section3 li {
  display: list-item;
  list-style-type: "- ";
  margin-bottom: 5px;
}

/* Section 5 - Ruche */
/* ==================================== */

.section5-content,
.section6-content {
  margin-bottom: 2rem;
}

.section7 .section-box-img {
  margin-top: 2rem;
}

/* Section 8 -  Slider et gallerie */
/* ==================================== */

section:nth-child(2n).section8 {
  padding-bottom: 4rem;
}
.section8-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 31rem;
}

.section8-header .order-btn {
  font-family: RaleB;
  color: var(--orange);
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 0.7em 1.5em;
  text-decoration: none;
  transition: all 0.3s;
}

.section8-header .order-btn:hover {
  color: #fff;
  background-color: var(--orange);
}

/* Slider */
/* ========================== */
.swiper-container {
  margin-top: 2rem;
  width: 90%;
  min-height: 13rem;
  height: 40vh;
  max-width: 31rem;
  cursor: pointer;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}
.swiper-slide a,
.grid-box a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.swiper-slide:nth-child(1) {
  background-image: url("../img/ty-coz/slider/ail.jpg");
}
.swiper-slide:nth-child(2) {
  background-image: url("../img/ty-coz/slider/orange-jus.jpg");
}

.swiper-slide:nth-child(3) {
  background-image: url("../img/ty-coz/slider/tomates.jpg");
}
.swiper-slide:nth-child(4) {
  background-image: url("../img/ty-coz/slider/betterave-crue.jpg");
}

.swiper-slide:nth-child(5) {
  background-image: url("../img/ty-coz/slider/patate-douce.jpg");
}
.swiper-slide:nth-child(6) {
  background-image: url("../img/ty-coz/slider/batavia.jpg");
}
.swiper-slide:nth-child(7) {
  background-image: url("../img/ty-coz/slider/panais.jpg");
}

.swiper-slide:nth-child(8) {
  background-image: url("../img/ty-coz/slider/avocats.jpg");
}
.swiper-slide:nth-child(9) {
  background-image: url("../img/ty-coz/slider/kiwi.jpg");
}

.swiper-slide:nth-child(10) {
  background-image: url("../img/ty-coz/slider/fraises-guariguette.jpg");
}

.swiper-pagination {
  margin-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  background-color: var(--gris);
  width: 12px;
  height: 12px;
  margin-left: 2px;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 0.8;
  width: 14px;
  height: 14px;
}

.grid-container {
  display: none;
}

/* ========================================= */
/* =============Desktop version =============*/
/* ========================================= */

@media (min-width: 58rem) {
  /* General styling */
  /* ============================== */
  .section-box-img {
    width: 30%;
    max-width: 600px;
    margin: 0 auto;
  }

  .section-content {
    width: 70%;
    max-width: 50rem;
  }

  .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 92rem;
  }

  section:nth-child(2n + 1) {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  section:nth-child(2n) {
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 2rem 0;
  }

  /* Section1 */
  /* ====================== */
  .box-img-desktop {
    display: inline-block;
    width: 30%;
  }
  .section1 {
    margin-top: 10rem;
  }
  .box-img-mobile {
    display: none;
  }
  .section1-content-desktop {
    margin-left: 5%;
    width: 70%;
  }

  .section1-heading {
    text-align: left;
  }
  .section1-heading h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin: 0;
  }
  .section1-heading h2 {
    font-size: clamp(1rem, 3vw, 2.3rem);
    margin: 1rem 0 2rem;
  }

  .section1-content-desktop p {
    font-size: 1.3rem;
  }

  /* Section 2 - Présentation Estelle et Anne */
  /* ====================== */
  .section2 .section-box-img {
    order: 2;
    margin-left: 6rem;
  }

  /* Section 3 - Modes de production*/
  /* ====================== */
  .section3 {
    display: block;
    max-width: 56rem;
  }
  .section3-content {
    width: 100%;
    max-width: 81rem;
  }

  /* Section 4 Notre sol */
  /* ====================== */
  .section4-content {
    line-height: 2;
    margin-left: 2rem;
  }

  /* Section 5 Lutte Intégrée - Ruche*/
  /* ====================== */
  .section5-content {
    margin-right: 2rem;
  }

  /* Section 6 les Variétés*/
  /* ====================== */
  .section6-content {
    margin-right: 4rem;
    margin-left: 2rem;
  }
  .section6 .section-box-img {
    order: -1;
  }

  /* Section 7 les Machines- Tracteur*/
  /* ====================== */

  .section7-content {
    margin-right: 2rem;
  }

  /* Section8 Slider et grid */
  /* ====================== */
  .section8-header {
    max-width: 63rem;
  }
  .slider-container {
    display: none;
  }

  .grid-box {
    position: relative;
    width: 90%;
    max-width: 63rem;
    margin: auto;
  }

  .grid-container {
    display: block;
    width: 90%;
    height: 44rem;
    margin: 2rem auto 0;
    padding: 0.5rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat (12, 1fr);
    max-width: 63rem;
    cursor: pointer;
  }

  .floating-grid-item {
    height: 15rem;
    border-radius: 50%;
    border: 10px solid #fff;
    width: 15rem;
    position: absolute;
    left: 20%;
    top: 15%;
    z-index: 10;
    overflow: hidden;
  }

  .floating-grid-item > div {
    height: 100%;
    width: 100%;
    background: url("../img/ty-coz/slider/tomates.jpg");
    background-size: cover;
    transition: all 0.3s;
  }

  .grid-item {
    cursor: pointer;
    overflow: hidden;
  }

  .grid-item-child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
  }

  .grid-item-child:hover,
  .floating-grid-item > div:hover {
    transform: scale(1.1);
  }
  /* first column */
  .grid-item:nth-child(1) .grid-item-child {
    background-image: url("../img/ty-coz/slider/ail.jpg");
  }
  .grid-item:nth-child(4) .grid-item-child {
    background-image: url("../img/ty-coz/slider/betterave-crue.jpg");
  }
  .grid-item:nth-child(7) .grid-item-child {
    background-image: url("../img/ty-coz/slider/avocats.jpg");
  }

  /* Second column */
  .grid-item:nth-child(2) .grid-item-child {
    background-image: url("../img/ty-coz/slider/orange-jus.jpg");
  }
  .grid-item:nth-child(5) .grid-item-child {
    background-image: url("../img/ty-coz/slider/panais.jpg");
  }
  .grid-item:nth-child(8) .grid-item-child {
    background-image: url("../img/ty-coz/slider/kiwi.jpg");
  }

  /* Third column */
  .grid-item:nth-child(3) .grid-item-child {
    background-image: url("../img/ty-coz/slider/patate-douce.jpg");
  }
  .grid-item:nth-child(6) .grid-item-child {
    background-image: url("../img/ty-coz/slider/batavia.jpg");
  }
  .grid-item:nth-child(9) .grid-item-child {
    background-image: url("../img/ty-coz/slider/fraises-guariguette.jpg");
  }

  /* first column */
  .grid-item:nth-child(1) {
    grid-row: 1/4;
  }
  .grid-item:nth-child(4) {
    grid-row: 4/8;
  }
  .grid-item:nth-child(7) {
    grid-row: 8/12;
  }
  /* Second column */
  .grid-item:nth-child(2) {
    grid-row: 1/5;
  }
  .grid-item:nth-child(5) {
    grid-row: 5/9;
  }
  .grid-item:nth-child(8) {
    grid-row: 9/12;
  }
  /* Third column */
  .grid-item:nth-child(3) {
    grid-row: 1/4;
  }
  .grid-item:nth-child(6) {
    grid-row: 4/7;
  }
  .grid-item:nth-child(9) {
    grid-row: 7/12;
  }
}

/* Correction effondrement section1 et nav */
@media (min-width: 768px) and (max-width: 928px) {
  .section1 {
    margin-top: 6rem;
  }
}

footer ul {
  margin-top: 0;
}
